@model List<WebXe.Models.CarModels>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    @foreach (var models in Model)
    {
    models.GetListImagesId();
    <div class="item-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>@models.Name</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 item-image">
                    @if (models.ListImages.Count > 0)
                    {
                    <img src="@Url.Action("GetImage", new { id = models.Id, indexa = 0 })"/>
                    }
                    else 
                    {
                    <img src="~/Source/noimage.png" />
                    }
                </div>

                <div class="col-md-6 body">
                    <div class="row item-description">
                        <h4>@models.Content</h4>
                    </div>
                    <div class="row item-thumbnail">
                        @if (models.ListImages.Count > 5)
                        {
                            for (int index = 1; index < 5; index++)
                            {
                            <img src="@Url.Action("GetImage", new { id = models.Id, indexa = index })" />
                            }
                        }
                        else
                        {
                            for (int index = 1; index < models.ListImages.Count; index++)
                            {
                            <img src="@Url.Action("GetImage", new { id = models.Id, indexa = index })" />
                            }
                        }
                    </div>
                </div>

                <div class="col-md-2 item-info">
                    
                    <h4>@(models.FormatMoney(models.Price))VNĐ</h4>
                    <h4>@(models.FormatMoney(models.PricePublic))VNĐ</h4>
                    @Html.ActionLink("Xem Chi Tiết", "Index", "CarModels", new {id = models.Id}, new {@class = "item-button-view btn btn-primary"})
                </div>
            </div>
        </div>
    </div>
    }

    <div class="pagination">
        @Html.ActionLink("Sau", "Index", new { id = (ViewBag.NowPage <= 1) ? ViewBag.NowPage : ViewBag.NowPage-1 })
        @foreach (int pages in Model.FirstOrDefault().GeneratePaginationList(ViewBag.NowPage, ViewBag.CountPage))
        {
            if (ViewBag.NowPage == pages)
            {
                @Html.ActionLink(pages.ToString(), "Index", new { id = pages }, new { @class = "active" })
            }
            else
            {
                @Html.ActionLink(pages.ToString(), "Index", new { id = pages })
            }
        }
        @Html.ActionLink("Tiếp", "Index", new { id = (ViewBag.NowPage >= ViewBag.CountPage) ? ViewBag.NowPage : ViewBag.NowPage+1 })
    </div>
</div>